.features {
    padding-top: 94px;


    &_list {
        @extend %cancel-list;
        display: flex;
        flex-wrap: wrap;
    }

    &_item {
        width: 270px;
        margin-right: 30px;
    }

    &_item:nth-child(4n) {
        margin-right: 0px;
    }

    &_title {
        color: $text-h-color;
        font-weight: $fw-bold;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &_text {
        font-size: 14px;
        line-height: 1.71;
    }
}