.contacts_footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_item .contacts_footer:hover,
.footer_item .contacts_footer:focus {
    color: $btn-blue-color;
}