.work_img {
    display: block;
}

.work_overlay {
    position: relative;
}

.work_text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 70px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: rgba(47, 48, 58, 0.8);
}

.work_text-forward {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: $bcg-white-color;
}