.socials {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 32px;
    padding-bottom: 30px;
    justify-content: space-between;

    &_links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 0;
        border-radius: 50%;
        color: #afb1b8;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
                &:focus {
                    background-color: $btn-blue-color;
                    color: $bcg-white-color;
                }
    }

    &_icons {
        display: flex;
        align-self: center;
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}