.logo {
    font-family: $ff-railway;
    font-weight: $fw-black;
    font-size: 26px;
    line-height: 1.2;
    color: $text-logo-color;
    text-decoration: none;

    margin-right: 93px;
}

.logo-web {
    color: $btn-blue-color;
}